@font-face {
    font-family: 'Manrope ExtraBold';
    src: url('../fonts/Manrope-otf/Manrope-ExtraBold.otf') format('opentype');
  }

@font-face {
    font-family: 'Inter light';
    src: url('../fonts/Inter/Inter-Light.otf') format('opentype');
}

p{
    font-family: 'Inter light';
    color: #546285;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Manrope ExtraBold';
    color: #191b22;
}

@media only screen and (min-width: 997px) {

    .aviso-div{
        background-image: url('../images/avisodiv-bg.svg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 30vw;
    }
    .nav-icon{
        padding: 10px 90px 10px 90px;
    }
}

.aviso-div{
    background-color: #35b8be;
}

.aviso-p{
    color: white;
}

.footer{
    background-color: #f5fbfc;
    background-image: url('../images/footer-bg-1.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 60vh;
    padding: 60px 10px 60px 10px;
}

.a-socialFooter{
    text-decoration: none;
    padding: 10px;
}

.a-copy{
    color: #35b8be;
}

.a-copy:hover{
    color: #35b8be;
}

.ul-footer{
    list-style: none;
}

.a-liFooter{
    color: #546285;
    text-decoration: none;
}
.a-liFooter:hover{
    color: #2b3141;
    text-decoration: none;
}

.nav-link:hover{
    color: #2b3141;
}